a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.repoCardInfoUl {
    list-style-type: none;
    display: flex;
    /* justify-content: space-evenly; */
    /* align-items: space-around; */
    margin: 0;
    padding: 0;
    gap: 25px;
    align-items: baseline;
    justify-content: baseline;
}

#repoCard p {
    margin: 0;
    padding: 0;
}

.repoCardInfoUl li {
    display: flex;
    align-items: baseline;
    justify-content: center;
    /* width: 200px; */

    gap: 10px;
}

.svgImg {
    width: 15px;
    height: 15px;
}

.ulContainer {
    display: flex;
}
