.navbar {
    padding-left: 30px;
}

.bg-github {
    background-color: #24292f;
    color: white
}

.nav-link {
    color: #fff;
    font-weight: 600;
    font-size: 14px;
}

.nav-link:hover {
    text-decoration: none;
}

.form-control {
    max-width: 250px;
    height: 28px;
    padding: 5px 12px;
    background: none;
    line-height: 20px;
    cursor: text;
    border-style: none;
    border: 1px solid #57606a;
    letter-spacing: -0.2px;
    margin-right: 8px;
}

.form-control::placeholder {
    color: rgba(255, 255, 255, 0.7);
    font-weight: 400;
    font-size: 14px;
}

.form-control:focus {
   box-shadow: none;
}
